<div id="music">
    <%# "bottom:120px; left:auto;  position:absolute;  width:85%" %>
    <% var defaultHeight = theme.music.type == 1 ? '32' : '90'; %>
    <% var defaultIframeHeight = theme.music.type == 1 ? '50' : '115'; %>
    <% var defaultIframeWidth = theme.music.type == 1 ? '220' : '330'; %>
    <iframe frameborder="no" border="1" marginwidth="0" marginheight="0" width="<%=defaultIframeWidth%>" height="<%=defaultIframeHeight%>"
        src="//music.163.com/outchain/player?type=2&id=<%=theme.music.id||22707008%>&auto=<%=theme.music.autoPlay?1:0%>&height=<%=defaultHeight%>"></iframe>
</div>

<style>
    #music {
        position: absolute;
        right: 15px;
        bottom: 10px;
        z-index: 298;
    }
</style>